@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/effects" as effects;
@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/typography" as typography;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  margin-bottom: 20px;
  overflow: hidden;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 40vh;
    opacity: 0;
  }

  .textContainer {
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0;
  }

  .season {
    padding: 10px 0;
    border-top: 1px solid colors.$dark-gray-color;
    border-bottom: 1px solid colors.$dark-gray-color;
    color: colors.$dark-gray-color;
    font-size: typography.rem(19px);
    font-weight: 400;
    text-transform: uppercase;
  }

  .image {
    border-radius: effects.$radius-lg;
    object-position: bottom;
  }

  // Mobile animation
  &.imageLeft,
  &.imageRight {
    flex-direction: column;

    .imageContainer {
      animation: fadeInUp 0.8s ease-out forwards;
    }

    .textContainer {
      animation: fadeInUp 0.8s ease-out forwards;
      animation-delay: 0.3s;
    }
  }
}

/* Tablet */
@include mixins.media(tablet) {
  .section {
    margin-bottom: 40px;

    .imageContainer {
      height: 50vh;
    }

    .textContainer {
      padding: 20px;
    }

    .season {
      font-size: typography.rem(24px);
    }
  }
}

/* Laptop / Desktop */
@include mixins.media(laptop) {
  .section {
    flex-direction: row;
    align-items: center;
    min-height: 80vh;

    &.imageLeft {
      flex-direction: row;

      .imageContainer {
        animation: slideInFromLeft 1s ease-out forwards;
      }

      .textContainer {
        animation: slideInFromRight 1s ease-out forwards;
      }
    }

    &.imageRight {
      flex-direction: row-reverse;

      .imageContainer {
        animation: slideInFromRight 1s ease-out forwards;
      }

      .textContainer {
        animation: slideInFromLeft 1s ease-out forwards;
      }
    }

    .imageContainer {
      width: 50%;
      height: 60vh;
    }

    .textContainer {
      width: 50%;
      padding: 0 40px;
    }

    .season {
      font-size: typography.rem(32px);
    }
  }
}

/* Animations */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
