@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/effects" as effects;
@use "@/shared/styles/mixins" as mixins;

.catalogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .catalogItem {
    background-color: colors.$bg-white-color;
    border-radius: effects.$radius-lg;
    padding: 20px;
    width: 300px;
    box-shadow: effects.$shadow-card;
    @include mixins.transition(transform);
    &:focus-visible,
    &:hover {
      transform: translateY(-5px);
    }
  }
}
