@use "shared/styles/_colors.scss" as c;
@use "shared/styles/_mixins.scss" as m;
@use "shared/styles/_typography.scss" as t;

.mobileMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .mobileMenuOpen {
    width: 32px;
    height: 32px;
    stroke: c.$white-color;
  }
  .mobileMenuClose {
    width: 32px;
    height: 32px;
    fill: c.$black-color;
  }

  @include m.media(laptop) {
    display: none;
  }
}
