@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/effects" as effects;

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: effects.$radius-lg;
  box-shadow: effects.$shadow-image;
}

.image {
  border-radius: effects.$radius-lg;
}

@include mixins.media(tablet) {
  .imageContainer {
    height: 400px;
  }
}

@include mixins.media(laptop) {
  .imageContainer {
    width: 50%;
    height: 500px;
  }
}
