@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/typography" as typography;
@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/effects" as effects;

.filterForm {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.filterTitle {
  flex-basis: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: colors.$black-color;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filterResetButton {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border: none;
  border-radius: effects.$radius-md;
  font-size: 16px;
  color: colors.$black-color;
  cursor: pointer;
  @include mixins.transition(background-color);
}

.catalog {
  padding: 80px 0;
}
