@use "@/shared/styles/typography" as typography;
@use "@/shared/styles/effects" as effects;
@use "@/shared/styles/colors" as colors;

.filterGroup {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  .filterLabel {
    margin-bottom: 5px;
    font-size: typography.$font-size-sm;
  }

  .filterSelect {
    padding: 8px;
    border: 1px solid colors.$border-medium-color;
    border-radius: effects.$radius-md;
    font-size: typography.$font-size-sm;
    width: 100%;
    cursor: pointer;
  }
}
