@use "shared/styles/_colors.scss" as c;
@use "shared/styles/_typography.scss" as t;

.catalogTitle {
  font-size: t.$font-size-h2;
  font-weight: t.$font-weight-semibold;
  line-height: t.$line-height-h2;
  text-align: center;
  margin-bottom: 40px;
}
