@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/typography" as typography;

.catalogTitle {
  font-size: typography.$font-size-h2;
  font-weight: typography.$font-weight-semibold;
  line-height: typography.$line-height-h2;
  text-align: center;
  margin-bottom: 40px;
}
