@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/typography" as typography;

.mobileMenu {
  position: absolute;
  left: 0;
  top: 79px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: colors.$bg-white-color;
  @include mixins.z-index(mobile-menu);
  transform: translateX(-150%);
  @include mixins.transition(transform);
  @include mixins.media(laptop) {
    display: none;
  }

  &.visible {
    transform: translateX(0px);
    @include mixins.transition(transform);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subMenuBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: colors.$black-text-color;
  font-size: typography.$font-size-lg;
  .subMenuIcon {
    display: flex;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
    stroke: colors.$black-color;
    fill: transparent;
    @include mixins.transition(transform);
    &.active {
      transform: rotate(180deg);
    }
  }
}

.link {
  color: colors.$black-text-color;
  font-size: typography.$font-size-lg;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  @include mixins.transition(max-height, opacity);

  &.isOpened {
    max-height: 200px;
    opacity: 1;
  }
}

.subList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-left: 20px;
}
