@use "shared/styles/_colors.scss" as c;
@use "shared/styles/_mixins.scss" as m;
@use "shared/styles/_typography.scss" as t;

.mobileMenu {
  position: absolute;
  left: 0;
  top: 79px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: c.$bg-white-color;
  @include m.z-index(mobile-menu);
  transform: translateX(-150%);
  transition: all 0.3s;
  @include m.media(laptop) {
    display: none;
  }

  &.visible {
    transform: translateX(0px);
    transition: all 0.3s;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subMenuBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: c.$black-text-color;
  font-size: t.$font-size-lg;
  .subMenuIcon {
    display: flex;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
    stroke: c.$black-color;
    fill: transparent;
    transition: transform 0.5s ease-in-out;
    &.active {
      transform: rotate(180deg);
    }
  }
}

.link {
  color: c.$black-text-color;
  font-size: t.$font-size-lg;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &.isOpened {
    max-height: 200px;
    opacity: 1;
  }
}

.subList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-left: 20px;
}
