@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/typography" as typography;
@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/effects" as effects;

.filterGroup {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  .filterLabel {
    margin-bottom: 5px;
    font-size: typography.$font-size-sm;
    color: colors.$default-text-color;
  }

  .sortButtons {
    display: flex;
    gap: 10px;
  }

  .sortButton {
    padding: 10px 12px;
    background-color: #f2f2f2;
    border: none;
    border-radius: effects.$radius-md;
    font-size: typography.$font-size-sm;
    cursor: pointer;
    @include mixins.transition(background-color);
    &:hover,
    &:focus-visible {
      background-color: colors.$pink-color;
      color: colors.$white-color;
    }
  }

  .active {
    background-color: colors.$pink-color;
    color: colors.$white-color;
    border: none;
  }
}
