@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/typography" as typography;

.cartBtn {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cartIcon {
  position: relative;
  width: 32px;
  height: 32px;
  fill: transparent;
  stroke: colors.$white-color;
}
.cartCount {
  position: absolute;
  top: calc(50% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: typography.rem(12px);
  font-weight: bold;
}
.iconUser {
  width: 32px;
  height: 32px;
}
