@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/colors" as colors;

.mobileNavWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include mixins.media(laptop) {
    display: none;
  }
  .link {
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    color: colors.$white-text-color;
    @include mixins.media(laptop) {
      display: none;
    }
  }
  .logo {
    width: 80px;
    height: 80px;
    fill: colors.$white-text-color;
    @include mixins.transition(fill);
  }

  .menuIcon {
    @include mixins.transition(stroke);
    stroke: colors.$white-text-color;
  }

  .mobileMenuClose {
    @include mixins.transition(fill);
    fill: colors.$white-text-color;
  }

  .cartIcon {
    @include mixins.transition(stroke);
    stroke: colors.$white-text-color;
  }

  &.isScrolled {
    .logo {
      fill: colors.$black-color;
    }
    .link {
      color: colors.$black-color;
    }
    .menuIcon {
      stroke: colors.$black-color;
    }
    .mobileMenuClose {
      fill: colors.$black-color;
    }
    .cartIcon {
      stroke: colors.$black-color;
    }
  }

  &.isNotHome {
    .logo {
      fill: colors.$black-color;
    }
    .link {
      color: colors.$black-color;
    }
    .menuIcon {
      stroke: colors.$black-color;
    }
    .mobileMenuClose {
      fill: colors.$black-color;
    }
    .cartIcon {
      stroke: colors.$black-color;
    }
  }

  &:hover {
    .logo {
      fill: colors.$black-color;
    }
    .link {
      color: colors.$black-color;
    }
    .menuIcon {
      stroke: colors.$black-color;
    }
    .mobileMenuClose {
      fill: colors.$black-color;
    }
    .cartIcon {
      stroke: colors.$black-color;
    }
  }

  &.menuOpen {
    // background-color: c.$primary-bg-color;
    .logo {
      fill: colors.$black-color;
    }
    .link {
      color: colors.$black-color;
    }
    .menuIcon {
      stroke: colors.$black-color;
    }
    .mobileMenuClose {
      fill: colors.$black-color;
    }
    .cartIcon {
      stroke: colors.$black-color;
    }
    position: relative;
    @include mixins.z-index(mobile-header);
  }
}
