@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/effects" as effects;

.swatch {
  display: inline-block;
  border-radius: effects.$radius-round;
  border: 2px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  @include mixins.transition(transform, border-color, box-shadow);
  padding: 0;

  &:focus-visible,
  &:hover {
    outline: none;
    box-shadow: effects.$shadow-focus;
  }

  &.active {
    border-color: colors.$black-color;
    transform: scale(1.1);
  }
}
