@use "shared/styles/_mixins" as m;
@use "shared/styles/_colors.scss" as c;

.swatch {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  @include m.transition(transform, border-color, box-shadow);
  padding: 0;

  &:focus-visible,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.08);
  }

  &.active {
    border-color: c.$black-color;
    transform: scale(1.1);
  }
}
