@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/mixins" as mixins;
@use "@/shared/styles/effects" as effects;
@use "@/shared/styles/typography" as typography;

.overlay {
  display: none;
  @include mixins.media(tablet) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mixins.z-index(cart);
    background-color: colors.$bg-overlay-color;
    @include mixins.transition(opacity, visibility);
    opacity: 0;
    visibility: hidden;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cartWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  @include mixins.z-index(cart);
  padding: 20px;
  background-color: colors.$bg-white-color;
  opacity: 0;
  visibility: hidden;
  @include mixins.transition(opacity, visibility);

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @include mixins.media(tablet) {
    width: 475px;
  }
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: typography.rem(24px);
  cursor: pointer;
}
.closeIcon {
  width: 28px;
  height: 28px;
}

.cartTitle {
  font-size: typography.rem(24px);
  margin-bottom: 20px;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.cartItem {
  display: flex;
}
.cartItemImage {
  width: 150px;
}
.cartItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.cartItemName {
  margin-bottom: 10px;
}
.cartItemColor {
  margin-bottom: 5px;
}

.colorRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.swatchCircle {
  width: 20px;
  height: 20px;
  border-radius: effects.$radius-round;
  border: 1px solid colors.$border-light-color;
  box-shadow: effects.$shadow-swatch;
}

.colorLabel {
  margin: 0;
  font-size: typography.rem(14px);
}

.cartItemInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.counter {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  border: 1px solid colors.$border-medium-color;
}
.counterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: typography.rem(20px);
  border: none;
  cursor: pointer;
}
// .cartItemQuantity {
// }
// .cartItemPrice {
// }
.cartItemRemoveBtn {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-self: flex-start;
  align-items: center;
  background-color: transparent;
  font-size: typography.rem(15px);
  border: none;
  padding: 0;
  cursor: pointer;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: colors.$bg-black-color;
    position: absolute;
    bottom: -1px;
  }
}
.cartSummaryWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: colors.$bg-light-gray-color;
  border-radius: effects.$radius-md;
  box-shadow: effects.$shadow-soft;
}
.cartSummary {
  display: flex;
  justify-content: space-between;
}
.totalLabel {
  font-size: typography.rem(18px);
  font-weight: bold;
  margin-bottom: 10px;
}
.totalPrice {
  font-size: typography.rem(18px);
  font-weight: bold;
  margin-bottom: 10px;
}
.cartMessage {
  font-size: typography.rem(16px);
  margin-bottom: 10px;
  color: colors.$black-color; /* Сolor for message */
}
.cartActions {
  display: flex;
  flex-direction: column;
}
.cartLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: colors.$bg-white-color;
  color: colors.$black-color;
  box-shadow: effects.$shadow-soft;
  text-decoration: none;
  font-size: typography.rem(18px);
  border-radius: effects.$radius-md;
  cursor: pointer;
  margin-bottom: 10px;
  @include mixins.transition(background-color, color);
  &:hover {
    background-color: colors.$bg-pink-color;
    color: colors.$white-color;
  }
}
// .emptyCart {
// }
