@use "@/shared/styles/colors" as colors;
@use "@/shared/styles/typography" as typography;
@use "@/shared/styles/effects" as effects;

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: effects.$radius-lg;
}

.colors {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  .swatch {
    width: 20px;
    height: 20px;
    border-radius: effects.$radius-round;
    border: 1px solid colors.$border-gray-color;
  }
  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: effects.$radius-round;
    background: colors.$border-gray-color;
    font-size: typography.$font-size-xs;
    color: colors.$black-text-color;
  }
}

.productLink {
  display: inline-block;
  font-size: typography.$font-size-md;
  font-weight: typography.$font-weight-semibold;
  margin-bottom: 8px;
}

.price {
  font-size: typography.$font-size-sm;
}
